$fuentePrincipal : "Radio Canada", sans-serif;

//colores
$negro: rgb(0, 0, 0);
$gris: rgb(37, 37, 37);
$blanco: rgb(255, 255, 255);



//media queries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXl: 1400px;