$fuentePrincipal : "Radio Canada", sans-serif;

//colores
$blanco: rgb(255, 255, 255);
$shadow: rgb(189, 189, 189);

$negro: rgb(10, 10, 10);
$negroClaro: rgb(20, 20, 20);
$gris: rgb(35, 35, 35);
$grisClaro: rgb(46, 46, 46);

$naranja: rgb(255, 153, 0);
$cian: rgb(125, 169, 173);

$azul: rgb(22, 138, 215);
$azulOscuro: rgb(0, 50, 84);
$morado: rgb(92, 0, 100);
$celeste: #bfd2dc;
$azulClaro: #f0f4f8;

$naranjaOscuro: rgb(78, 34, 0);
$amarillo: rgb(255, 213, 0);

$verde: rgb(34, 255, 0);

$gradienteLogo: linear-gradient(0deg, rgb(195, 104, 34) 0%, rgba(253,135,45,1) 100%);
$gradienteLogoDarkMode: linear-gradient(0deg, rgb(34, 90, 195) 0%, rgb(45, 132, 253) 100%);



//media queries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXl: 1400px;