$fuentePrincipal : "Radio Canada", sans-serif;

//colores
$negro: rgb(0, 0, 0);
$gris: rgb(25, 25, 25);
$grisClaro: rgb(35, 35, 35);
$blanco: rgb(255, 255, 255);



//media queries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXl: 1400px;