@use "../base/variables" as v;

.toggleMode{
    cursor: pointer;
    filter: invert(1);
    &:hover{
        transition: 0.2s ease-in;
        transform: scale(1.08);
    }
}

.darkMode{
    background-color: v.$gris;
    .toggle-bg{
        background-color: v.$negroClaro;

    }
    .toggleMode{
        filter: invert(0.25);
    }
   
    p, h1, h2, h3, h4{
        color: v.$blanco;
    }
    
    .card{
        background-color: v.$blanco;
    }

    .cards{
        .card{
            background-color: v.$gris;
        }
    }
    .header,
    .headerTwo{
        filter: hue-rotate(250deg);
    }
    
    .ventajas{
        li{
            color: v.$blanco;
        }
    }

    .linus{
        border: 0.1rem solid v.$gris;
        background-color: v.$negro;
        
        .linus-content{
            h4{
                background-color: v.$gris;
     
            }
            p{
                &:nth-of-type(1){
                    background-color: v.$gris;
                }
            }
            strong{
                color: v.$blanco;
            }
            
        }
    }

    .timeLine{
        border-left: 1rem solid v.$blanco;
    }

    .timeLine-block{
        box-shadow: v.$gris 0 0 1rem 0;
        background-color: v.$negro;
    
        h2{
            color: v.$blanco;
            &::after{
                background-color: v.$blanco;
            }
        }
        &::before{
            background-color: v.$blanco;
        }
    }

    .comparativa{
        table{
            color: v.$blanco;


            tbody {
                tr{
                    margin: 0;
                }
                
                tr {
                    &:nth-child(even) {
                        background-color: #565656;
                    }
    
                    &:nth-child(odd) {
                        background-color: #888888;
                    }
    
                    td {
                        padding: 1.5rem;
                        border: 0.1rem solid #ddd;
                        vertical-align: top;
                        font-size: 1.6rem;


                    }
                }
            }
        }
    }

    .tarjeta-alumno{
        border: 1px black solid;
        .imagen-alumno{
            &::after{
                background-color: v.$negroClaro;
            }
        }
    }

    .actualidad,
    .servidores,
    .utilidad-servidores,
    .preferencias,
    .embebido,
    .educativo,
    .linux-ventajas_actualidad,
    .gestores-de-paquetes,
    .compatibilidad-de-software,
    .software{
        padding: 8rem 0;

        li{
            color: v.$blanco;
            list-style: disc;
            font-size: 1.8rem;
        }

        p{
            margin: 0;
        }
    }

    .server{
        filter: invert(1);
    }

    .card-grid{
        .card{
            background-color: v.$gris;
        }
    }





    .shadow{
        box-shadow:  v.$negro 0rem 0rem 1rem 0rem;
    }

    strong{
        color: v.$verde;
        font-weight: bold;
    }
}

