@use "./base/variables" as v;
@use "./base/mixins" as m;

.introduction{
    padding: 8rem 0;
    p{
        margin: 4rem 0;
        line-height: 1.5;
    }
    img{
        width: 100%;
    }
    
}

