@use "./base/variables" as v;
@use "./base/mixins" as m;
.main{
    h1{
        color: v.$blanco;
        margin-bottom: 4rem;
    }
}

.contenido-principal{
    @include m.grid{
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }
    p{
        margin-top: 0;
        color: v.$blanco;
    }
    .sidebar{
        border: 0.1rem solid v.$blanco;
    }
    .sidebar-links{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        a{
            color: v.$blanco;
        }
    }
    
}