@use "../base/mixins" as m;
@use "../base/variables" as v;

.nosotros-content{
    padding: 8rem 0;
    // position: relative;
}

.titulo-nosotros{
    text-align: center;
}

.logos{
    display: flex;
    flex-direction: column;
    @include m.tablet{
        flex-direction: row;
        justify-content: space-between;
    }
}

.img-logos{
    img{
        margin: 3rem 0;
    }
    @include m.tablet{
        // position: absolute;
        img{
            width: 20rem;
        }
        &:nth-of-type(1){
            left: 2rem;
            top: 1rem;
        }
        &:nth-of-type(2){
            right: 2rem;
            top: 1rem;
        }
    }
}


.equipo-grid{
    @include m.tablet{
        @include m.grid(repeat(4, 1fr), repeat(3, 1fr)){
            gap: 2rem;
        }
    }

}



.tarjeta-alumno{
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 2rem;

    @include m.tablet{
        margin: 0;

    }

    .imagen-alumno{
        img{
            height: 30rem;
            width: 100%;
            border-radius: 50%;
        }
        &::after{
            content: "";
            margin: 2rem 0;
            display: block;
            height: 1rem;
            background-color: v.$azulOscuro;
        }

        @include m.tablet{
            img{
                height: 25rem;
                border-radius: 50%;
            }

        }

        
    }

    
    
    .informacion-alumno{
        p{
            text-align: left;
        }
    }
    
}

.ultima{
    grid-column: 2 / 5;
    .imagen-alumno{
        img{
            height: 30rem;
            width: 100%;
            border-radius: 1rem;
        }  
        
    }
    
}


.references {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .references h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    color: #444;
  }
  
  .references ul {
    list-style-type: none;
    padding: 0;
  }
  
  .references li {
    margin-bottom: 15px;
    line-height: 1.6;
  }
  
  .references em {
    font-style: italic;
    color: #333;
  }
  
  .references a {
    color: #0066cc;
    text-decoration: none;
  }
  
  .references a:hover {
    text-decoration: underline;
  }
  


