@use "../base/variables" as v;
@use "../base/mixins" as m;

.toggle-bg{
    background-color: v.$azulClaro;
}

.ventajas{
   line-height: 1.5;
   border-radius: 2rem;
   padding: 8rem 0;

   .ventajas-listado{
    li{
        margin-bottom: 2rem;
        text-align: justify;
    }
    ul{
        padding: 0;
    }
   }
    
}